<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flappy Bird</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="module" src="/scripts/Game.js" defer></script>
</head>
<body>
    <div id="color"></div>
    <div id="container">
        <div id="winner">Blue Bird Wins</div>
        <div id="gameover"></div>
        <button id="play"></button>
        <div id="base"></div>
    </div>
</body>
</html>